datasets
faiss-cpu
sentence-transformers
rank-bm25
fastapi
uvicorn
supabase
psycopg2-binary
ragas
langchain
langchain-community
langchain-google-genai
langchain-groq
python-dotenv
tqdm
numpy
pandas
pydantic
requests
jinja2
pytest
matplotlib
